ul.icons {
    margin: auto;
}

ul.icons li {
    display: inline-block;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 0.5em;
}

.footer-content {
    width: 100%;
    text-align: center;
    background-color: #5F7793;
    position: relative;
    bottom: 0;
    
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
    overflow:auto;
}

.page-wrap {
    position: relative;
    min-height: 100%;
    overflow:auto;
}

.navbar {
    background-color: #5F7793;
}

.nav-link, .navbar-brand {
    color: black !important;
}

.container {
    background-color: #95cded;
}

.icon {
    color: black;
}

.nav-link:hover, .dropdown-item:hover {
    color: darkgrey
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}