ul.icons li {
    display: inline-block;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 0.5em;
}

footer {
    text-align: center;
    background-color: #5F7793;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

.page-wrap {
    position: relative;
    min-height: 100vh;
}

.navbar {
    background-color: #5F7793;
}

.nav-link, .navbar-brand {
    color: black !important;
}

.container {
    background-color: #95cded;
    padding-bottom: 5rem;
}

.icon {
    color: black;
}

.nav-link:hover, .dropdown-item:hover {
    color: darkgrey
}

h1 {
    text-align: center;
}